.md-button {
  &.ol-wide {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.md-default-theme.md-raised {
    &.ol-green,
    &.ol-green:hover,
    &.ol-green:active,
    &.ol-green:focus  {
      background-color: #67b972;
      color: #fff;
    }
  }

  &.ol-light-gray {
    color: #666;
  }

  &.md-fab.md-default-theme.ol-transparent {
    background-color: transparent;
    box-shadow: none;

    &:focus,
    &:active,
    &:hover {
      background-color: transparent;
      box-shadow: none;
      transform: translate3d(0, 0, 0);
    }
  }

  &.md-default-theme.ol-button-toolbar {
    border-radius: 50%;
  }
}


