.ol-card {
  background: #fff;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;

  &__header {
    // border-bottom: 1px solid #eee;
  }

  &__title {
    color: #888;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 16px;
    margin: 0;
  }

  &__body {
  }

  &__footer {
  }

  &__content {
    padding: 10px 16px;
  }
}
