.ol-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {

    a {
      display: block;
      line-height: 45px;
      padding-left: 20px;
      color: #444;
      text-decoration: none;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
