.action {
  border: none;
  border-radius: 50%;
  transition: all 150ms ease-out;
  position: relative;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);

  @include font-size(20);
  width: 40px;
  height: 40px;

  &__icon {
    line-height: 45px; // for the icon
    text-align: center;
  }

  &__label {
    position: absolute;
    @include font-size(12);
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    // color: #000;
    text-transform: uppercase;
    font-weight: 700;

    transition: all 150ms ease-out;
    transform: translateY(10px);
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.32);
    transform: translateY(-2px);
  }

  &:hover &__label {
    transform: none;
    opacity: 1;
  }


  &:active, &:focus {
    outline: 0;
  }
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
    transition: box-shadow 50ms ease-out;
    transform: none;
  }

  &__size-small {
    width: 32px;
    height: 32px;
    @include font-size(18);
  }
  &__size-medium {
    width: 44px;
    height: 44px;
    @include font-size(24);
  }
  &__size-large {
    width: 48px;
    height: 48px;
    @include font-size(26);
  }

  &__success {
    background-color: #27ae60;
    color: #fff;

    &:hover {
      background-color: darken(#27ae60, 5);
    }
  }

  &__success &__label {
    color: #27ae60;
  }
}
