.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  text-transform: uppercase;

  @include font-size(14);
  padding: 6px 12px;
  line-height: 1.42857;
  border-radius: 2px;

  transition: all 150ms ease-out;

  &--primary {
    color: #fff;
    background-color: #3c6788;
    border-color: #3c6788;

    &.button--outline {
      color: #3c6788;

      &:hover {
        color: #fff;
      }
    }

    &:hover {
      background-color: darken(#3c6788, 4);
      border-color: darken(#3c6788, 4);
    }
  }

  &--outline {
    background-color: transparent;
  }

  &--size-small {
    @include font-size(14);
    padding: 4px 10px;
  }

  &--size-medium {
    @include font-size(18);
    padding: 8px 14px;
  }

  &--size-large {
    @include font-size(20);
    padding: 10px 16px;
  }

  &--block {
    display: block;
    width: 100%;
  }
}

// Aliases
.btn {
  @extend .button;
}
