.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  text-transform: uppercase;

  @include font-size(14);
  padding: 8px 16px;
  line-height: 1.42857;
  border-radius: 2px;

  transition: all 150ms ease-out;

  &:focus {
    outline: 0;
  }

  &:hover, &:focus {
    transform: translateY(-2px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  &:active {
    transition: box-shadow 50ms ease-out;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    transform: none;
  }

  &--primary {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;

    &.button--outline {
      color: $color-primary;

      &:hover {
        color: #fff;
      }
    }

    &:hover, &:focus {
      background-color: darken($color-primary, 8);
      border-color: darken($color-primary, 8);
    }
  }

  &--outline {
    background-color: transparent;
  }

  &--size-small {
    @include font-size(14);
    padding: 4px 10px;
  }

  &--size-medium {
    @include font-size(18);
    padding: 8px 14px;
  }

  &--size-large {
    @include font-size(20);
    padding: 10px 16px;
  }

  &--size-wide {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--block {
    display: block;
    width: 100%;
  }
}

// Aliases
.btn {
  @extend .button;
}
