.form {

  &--inline {
    display: inline-block;
  }

  &__control {
    @include font-size(14);
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid darken($color-gray-300, 5);
    border-radius: 2px;
    background-color: #fff;
    // box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:hover, &:active, &:focus {
      outline: 0;
    }

    &:active, &:focus {
      border: 1px solid darken($color-gray-500, 5);
    }
  }

  &--inline &__control {
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
}
