<div class="ol-translation-item" ng-switch="translation.active" ng-class="{
  'ol-translation-item--expanded': translation.active,
  'ol-translation-item--collapsed': !translation.active,
  'ol-translation-item--status-edited': translation.isEditing(),
  'ol-translation-item--status-untranslated': !translation.isTranslated,
  'ol-translation-item--status-translated': translation.isTranslated,
  'ol-translation-item--status-approved': translation.isApproved,
}">

  <!-- When translation is active -->
  <div ng-switch-when="true">
    <div class="ol-translation-item__header" ng-click="editor.activateTranslation()"
      scroll
      scroll-container="mainElement"
      scroll-offset="100"
      scroll-deplay="0"
      scroll-duration="300"
      >

      <span class="ol-translation-item__key">
        {{translation.key}}
      </span>
    </div>

    <div class="ol-translation-item__body">
      <div layout="column" layout-gt-md="row">
        <div flex class="ol-translation-item__phrase ol-translation-item__phrase--full">
          <div class="ol-translation-item__phrase-title">
            <span>Source</span>
            <ol-flag country="{{translation.sourceLocale|region}}"></ol-flag>
          </div>

          {{translation.sourcePhrase}}
        </div>

        <div flex class="ol-translation-item__phrase ol-translation-item__phrase--full ol-translation-item__phrase--highlight">
          <div class="ol-translation-item__phrase-title">
            <span>Target</span>
            <ol-flag country="{{translation.targetLocale|region}}"></ol-flag>
          </div>

          <textarea autoselect class="ol-translation-item__textarea" placeholder="Translate here…" ng-model="translation.editedPhrase" msd-elastic></textarea>
        </div>
      </div>

      <div layout="column" layout-gt-md="row" ng-if="false">
        <div class="ol-translation-item__description">
          Here is the description of the translation.
        </div>
      </div>
    </div>

    <div class="ol-translation-item__footer" layout="row">
      <div class="ol-translation-item__hint" flex>
        <span ng-show="!translation.isEditing()">
          Press <strong>TAB</strong> to move to the next phrase.
        </span>

        <span ng-show="translation.isEditing()" class="u-text-blue">
          Press <strong><span mod-key></span>+Enter</strong> to save translation
        </span>
      </div>

      <div class="ol-translation-item__actions" ng-show="translation.isEditing()">
        <md-button class="ol-light-gray" ng-click="translation.cancelEdition()">
          Cancel
        </md-button>
        <md-button class="md-raised ol-green ol-wide" ng-click="translation.save()">
          Save
        </md-button>
      </div>

      <div class="ol-translation-item__actions" ng-show="!translation.isEditing() && translation.isTranslated && !translation.isApproved">
        <md-button class="md-raised ol-green ol-wide" ng-click="translation.approve()">
          Approve
        </md-button>
      </div>

      <div class="ol-translation-item__actions" ng-show="!translation.isEditing() && translation.isApproved">
        <md-button class="ol-wide" ng-click="translation.unapprove()">
          Unapprove
        </md-button>
      </div>
    </div>
  </div>

  <!-- When translation is NOT active -->
  <div ng-switch-default>
    <div ng-click="editor.activateTranslation(translation)">
      <div class="ol-translation-item__header">
        <span class="ol-translation-item__key">
          {{::translation.key}}
        </span>
      </div>

      <div class="ol-translation-item__body" layout="row">
        <div flex class="ol-translation-item__phrase ol-translation-item__phrase--preview">
          {{::translation.sourcePhrase}}
        </div>

        <div flex class="ol-translation-item__phrase ol-translation-item__phrase--preview">
          {{::translation.editedPhrase}}
        </div>
      </div>
    </div>
  </div>
</div>
