.button {
  display: inline-block;

  text-align: center;
  vertical-align: middle;

  touch-action: manipulation;
  cursor: pointer;

  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;

  white-space: nowrap;
  text-transform: uppercase;

  @include font-size(14);
  line-height: 1.42857;
  padding: 8px 10px;

  transition: all 150ms ease-out;

  &:active,
  &:focus {
    outline: 0;
  }

  &[disabled] {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
  }

  //
  // Floating action buttons
  //
  &--type-floating {
    // TODO: merge with action.scss
  }

  //
  // Raised buttons
  //
  &--type-raised {
    color: #fff;
    background-color: $color-gray-500;
    padding: 8px 16px;

    &:hover,
    &:focus {
      background-color: darken($color-gray-500, 8);
      transform: translateY(-2px);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transition: box-shadow 50ms ease-out;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      transform: none;
    }
  }

  &--type-raised.button--color-primary {
    background-color: $color-primary;

    &:hover,
    &:focus {
      background-color: darken($color-primary, 8);
    }
  }

  &--type-raised.button--color-danger {
    background-color: $color-invalid;

    &:hover,
    &:focus {
      background-color: darken($color-invalid, 8);
    }
  }

  //
  // Flat buttons
  //
  &--type-flat {
    color: $color-gray-500;
    background-color: transparent;

    &:hover,
    &:focus {
      color: darken($color-gray-500, 8);
    }
  }

  &--type-flat.button--color-primary {
    color: $color-primary;

    &:hover,
    &:focus {
      color: darken($color-primary, 8);
    }
  }

  &--type-flat.button--color-danger {
    color: $color-invalid;

    &:hover,
    &:focus {
      color: darken($color-invalid, 8);
    }
  }

  //
  // Sizes
  //
  &--size-small {
    @include font-size(14);
    padding: 4px 10px;
  }

  &--size-medium {
    @include font-size(18);
    padding: 8px 14px;
  }

  &--size-large {
    @include font-size(20);
    padding: 10px 16px;
  }

  &--size-wide {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--block {
    display: block;
    width: 100%;
  }

  // [Expirimental name] Ideal for icon button
  &--icon {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;

    &:hover {
      border-color: $color-gray-400;
    }
  }
}
