<div class="column column--size-1"></div>

<div class="column column--size-3">
  <h1>
    Login
  </h1>

  <form ng-submit="authenticate(credentials.username, credentials.password)">
    <p>
      <label for="" class="form__label">Username</label>
      <input type="text" class="form__control form__control--size-large" ng-model="credentials.username" autofocus>
    </p>

    <p>
      <label for="" class="form__label">Password</label>
      <input type="password" class="form__control form__control--size-large" ng-model="credentials.password">
    </p>

    <p>
      <button type="submit" class="button button--primary button--size-wide">
        Login
      </button>
    </p>
  </form>
</div>
