<div class="l-profile column column--size-8 column--scrollable">
  <div class="l-profile__header">
    <div class="media">
      <div class="media__visual">
        <img class="l-profile__avatar" gravatar-src="user.email" gravatar-size="100" alt="User avatar">
      </div>

      <div class="media__body">
        <h1 class="l-profile__title title title--level-1">
          {{ user.name }}
        </h1>

        <p class="l-profile__subtitle">
          {{ user.username }}
        </p>
      </div>
    </div>
  </div>

  <div class="l-profile__content">
    <button logout class="button button--size-wide button--primary">
      Logout
    </button>
  </div>
</div>
