<div class="l-translate-edit">
  <div class="actions">
     <button class="action action__success action__size-large">
      <span class="action__icon">
        <i class="icon-check"></i>
      </span>

      <span class="action__label">Save</span>
    </button>
  </div>

  <div class="translation-source">
    <div class="translation-source__title">
      Original phrase
    </div>

    <p class="translation-source__phrase">
      {{ translationCommit.getSourcePhrase() }}
    </p>
  </div>

  <form class="translation-target">
    <textarea class="translation-target__textarea" ng-model="translation.targetPhrase"></textarea>
    <!-- <textarea class="translation-target__textarea"
      ng-model="translationCommit.targetPhrase"
      ng-model-options="{ getterSetter: true }">
    </textarea> -->

    <p class="translation-target__footer">
      <span>
        Press <strong>TAB</strong> to move to the next phrase
      </span>
    </p>
  </form>
</div>
