<div class="l-translate-header u-clearfix">
  <div class="column column--size-3">
    <h1 class="l-translate-header__title title title--level-1">
      <a ui-sref="project({slug: project.slug})">
        {{ project.name }}
      </a>
    </h1>
  </div>

  <div class="column column--size-1" style="overflow:hidden">
    <!-- Here is some counter and stats -->
  </div>

  <div class="column column--size-5">
    <div class="l-translate-header__search-form">
      <input type="text" placeholder="Search…" class="form__control">
    </div>
  </div>

  <div class="column column--size-3 form--inline">
    <div class="l-translate-header__locale-form">
      <select class="form__control" ng-model="context.source" ng-options="language.locale as language.name for language in languages|orderBy:'name'">
        <option value=""></option>
      </select>

      <select class="form__control" ng-model="context.target" ng-options="language.locale as language.name for language in languages|orderBy:'name'">
        <option value=""></option>
      </select>
    </div>
  </div>
</div>


<div class="l-translate-translations column column--size-4 column--scrollable">
  <div class="translations">
    <h3 class="translations__resource">
      src/resources.yml
    </h3>

    <ul class="translations__list list--unstyled">
      <li class="translations__item" ng-repeat="translation in translations">
        {{ translation.id }}
        {{ translation.getSourcePhrase() }}
        <!-- <a ui-sref="translate.source.target.phrase({target: 'fr', id: 1})">
          Translation item 1
        </a> -->
      </li>
    </ul>
  </div>
</div>

<div class="column column--size-8 column--scrollable" ui-view>
</div>
