<div class="l-translate-header u-clearfix">
  <div class="column column--size-3">
    <h1 class="l-translate-header__title title title--level-1">
      <a ui-sref="project({slug: project.slug})">
        {{ project.name }}
      </a>
    </h1>
  </div>

  <div class="column column--size-1" style="overflow:hidden">
    <!-- Here is some counter and stats -->
  </div>

  <div class="column column--size-5">
    <div class="l-translate-header__search-form">
      <input type="text" placeholder="Search…" class="form__control">
    </div>
  </div>

  <div class="column column--size-3 form--inline">
    <div class="l-translate-header__locale-form">
      <select class="form__control" ng-model="context.source" ng-options="language.locale as language.name for language in languages|orderBy:'name'">
        <option value=""></option>
      </select>

      <select class="form__control" ng-model="context.target" ng-options="language.locale as language.name for language in languages|orderBy:'name'">
        <option value=""></option>
      </select>
    </div>
  </div>
</div>


<div class="l-translate-translations column column--size-4 column--scrollable">
  <div class="translations" ng-repeat="resource in resources|orderBy:'pathname'" ng-if="context.source && context.target">
    <h3 class="translations__resource">
      <i class="translations__resource-icon icon-file"></i>
      {{ resource.pathname }}
    </h3>

    <ul class="translations__list list--unstyled">
      <li
        class="translations__item translation"
        ng-class="translation.isApproved() ? 'translation--approved' : (translation.isTranslated() ? 'translation--translated' : '')"
        ng-repeat="translation in translationCommits|filter:{resourceId: resource.id}"
        ui-sref="translate.source.target.phrase({id: translation.id})"
      >
        <p class="translation__key">
          {{ translation.key }}
        </p>

        <p
          class="translation__source"
          ng-show="translation.isSourceTranslated()"
          ng-class="translation.isSourceApproved() ? 'translation__source--approved' : ''"
        >
          {{ translation.getSourcePhrase()|truncate:80 }}
        </p>
        <p class="translation__source translation__source--undefined" ng-hide="translation.isSourceTranslated()">
          undefined
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="l-translate-main-column column column--size-8 column--scrollable" ui-view>
</div>
