<div class="l-translate-header u-clearfix">
  <div class="column column--size-3">
    <h1 class="l-translate-header__title title title--level-1">
      <a ui-sref="project({slug: project.slug})">
        {{ project.name }}
      </a>
    </h1>
  </div>

  <div class="l-translate-header__stats column column--size-1" style="overflow:hidden">
    <span class="l-translate-header__counter">
      {{ translations.length }}
    </span>
    <span class="l-translate-header__counter-label">
      translations
    </span>
  </div>

  <div class="column column--size-5">
    <div class="l-translate-header__search-form">
      <input type="text" placeholder="Search…" class="form__control">
    </div>
  </div>

  <div class="column column--size-3 form--inline">
    <div class="l-translate-header__locale-form">
      <select class="form__control" ng-change="updateRoute()" ng-model="context.source" ng-options="language.locale as language.name for language in languages|orderBy:'name'">
        <option value=""></option>
      </select>

      <select class="form__control" ng-change="updateRoute()" ng-model="context.target" ng-options="language.locale as language.name for language in languages|orderBy:'name'">
        <option value=""></option>
      </select>
    </div>
  </div>
</div>

<div class="l-translate-main">
  <div class="l-translate-overlay" ng-if="!context.source || !context.target">
    <span class="l-translate-overlay__arrow"></span>
    <p class="l-translate-overlay__title">
      Please choose a language to start
    </p>
  </div>

  <div class="l-translate-translations column column--size-4 column--scrollable">
    <div class="translations" ng-repeat="resource in resources|orderBy:'pathname'" ng-if="context.source && context.target">
      <h3 class="translations__resource">
        <i class="translations__resource-icon icon-file"></i>
        {{ resource.pathname }}
      </h3>

      <ul class="translations__list list--unstyled">
        <li
          class="translations__item translation"
          ng-class="{
            'translation--approved': translation.isApproved(),
            'translation--translated': translation.isTranslated(),
            'translation--active': translation.selected
          }"
          ng-repeat="translation in translationCommits.items|filter:{resourceId: resource.id}"
          ui-sref="translate.source.target.phrase({id: translation.id})"
        >
          <p class="translation__key">
            {{ translation.key }}
          </p>

          <p
            class="translation__source"
            ng-show="translation.isSourceTranslated()"
            ng-class="translation.isSourceApproved() ? 'translation__source--approved' : ''"
          >
            {{ translation.getSourcePhrase()|truncate:80 }}
          </p>
          <p class="translation__source translation__source--undefined" ng-hide="translation.isSourceTranslated()">
            undefined
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="column column--size-8 column--scrollable" ui-view>
  </div>
</div>
