@import "icons";

@import "settings/variables";
@import "settings/utils";

@import "components/button";
@import "components/card";
@import "components/editor-layout";
@import "components/flag";
@import "components/list";
@import "components/title";
@import "components/toolbar";
@import "components/translation-group";

body {
  background-color: #eee;
  color: #37474f;
  // font-family: 'Source Sans Pro', sans-serif;
}

md-toolbar.md-default-theme {
  background-color: #37474f;
  color: white;
}
md-content.md-default-theme {
  background-color: #eee;
}
