@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
}

%icon {
  font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow-left {
    $char: "\E001";
  }
  @if $filename == arrow-right {
    $char: "\E002";
  }
  @if $filename == book {
    $char: "\E003";
  }
  @if $filename == check {
    $char: "\E004";
  }
  @if $filename == check2 {
    $char: "\E005";
  }
  @if $filename == circle-o {
    $char: "\E006";
  }
  @if $filename == circle {
    $char: "\E007";
  }
  @if $filename == dashboard {
    $char: "\E008";
  }
  @if $filename == file {
    $char: "\E009";
  }
  @if $filename == hexagon {
    $char: "\E00A";
  }
  @if $filename == logo {
    $char: "\E00B";
  }
  @if $filename == save {
    $char: "\E00C";
  }
  @if $filename == translate {
    $char: "\E00D";
  }
  @if $filename == world {
    $char: "\E00E";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  // Additionnal properties
  vertical-align: middle;
  line-height: 1;

  &:#{$insert} {
    @extend %icon;
    content: icon-char($filename);
  }
}

.icon-arrow-left {
  @include icon(arrow-left);
}
.icon-arrow-right {
  @include icon(arrow-right);
}
.icon-book {
  @include icon(book);
}
.icon-check {
  @include icon(check);
}
.icon-check2 {
  @include icon(check2);
}
.icon-circle-o {
  @include icon(circle-o);
}
.icon-circle {
  @include icon(circle);
}
.icon-dashboard {
  @include icon(dashboard);
}
.icon-file {
  @include icon(file);
}
.icon-hexagon {
  @include icon(hexagon);
}
.icon-logo {
  @include icon(logo);
}
.icon-save {
  @include icon(save);
}
.icon-translate {
  @include icon(translate);
}
.icon-world {
  @include icon(world);
}
