<div layout="column" layout-gt-md="row" layout-padding>
  <div flex>
    <section class="ol-card md-whiteframe-z1">
      <header class="ol-card__header" layout="row">
        <h3 flex class="ol-card__title">Projects</h3>
      </header>

      <!-- <md-divider></md-divider> -->

      <md-list class="ol-projects-list">
        <md-item class="ol-projects-item" ng-repeat="project in projects|orderBy:'name'">
          <md-item-content md-ink-ripple ui-sref="root.project({project: project.slug})">
            <div class="md-tile-content">
              <h3>
                  {{project.name}}
              </h3>
              <h4>{{project.slug}}</h4>
              <p>
                {{project.description}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </section>
  </div>

  <div flex></div>
</div>
