<div layout="row" layout-margin layout-padding>
  <div flex></div>

  <section flex="33" class="ol-card md-whiteframe-z1">
    <header class="ol-card__header" layout="row">
      <h3 flex class="ol-card__title">
        Login with your credentials
      </h3>
    </header>

    <form ng-submit="login(credentials)" name="loginForm" novalidate>
      <div class="ol-card__content">
        <md-input-container flex>
          <label>Username</label>
          <input name="username" required ng-model="credentials.username">

          <div ng-messages="loginForm.username.$error" ng-if="loginForm.$submitted">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Password</label>
          <input name="password" required ng-model="credentials.password" type="password">

          <div ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div layout="row">
          <div flex></div>
          <md-button type="submit">
            Login
          </md-button>
        </div>
      </div>
    </form>
  </section>

  <div flex></div>
</div>
