<div class="navbar" ng-controller="NavbarController">
  <a ui-sref="dashboard" class="navbar__brand">
    <i class="navbar__brand-logo icon-logo"></i>
  </a>

  <ul class="navbar__menu-main list list--unstyled">
    <li>
      <a ui-sref="dashboard" class="navbar__item" ng-class="{'navbar__item--active': (activePage == 'dashboard')}">
        <i class="navbar__item-icon icon-dashboard"></i>
        <span class="navbar__item-label">Dashboard</span>
      </a>
    </li>

    <li>
      <a ui-sref="dashboard" class="navbar__item" ng-class="{'navbar__item--active': (activePage == 'translate')}">
        <i class="navbar__item-icon icon-translate"></i>
        <span class="navbar__item-label">Translate</span>
      </a>
    </li>

    <li>
      <a ui-sref="glossary" class="navbar__item" ng-class="{'navbar__item--active': (activePage == 'glossary')}">
        <i class="navbar__item-icon icon-book"></i>
        <span class="navbar__item-label">Glossary</span>
      </a>
    </li>
  </ul>

  <ul class="navbar__menu-user list list--unstyled">
    <li ng-if="user">
      <a ui-sref="profile" class="navbar__item">
        <img class="navbar__item-avatar" gravatar-src="user.email" alt="avatar">
        <span class="navbar__item-label navbar__item-username">
          {{ user.username }}
        </span>
      </a>
    </li>
  </ul>
</div>
