<md-toolbar ng-controller="ToolbarController">
  <div class="md-toolbar-tools">
    <md-button ng-click="openSidebar()" class="ol-button-toolbar" aria-label="Toggle Menu">
      <md-icon md-svg-src="icons/menu.svg" class="md-default-theme"></md-icon>
    </md-button>

    <div ui-view="toolbar-title" class="toolbar__title"></div>

    <div ui-view="toolbar-middle" class="toolbar__middle" flex></div>

    <div ui-view="toolbar-menu"></div>

    <div>
      <md-button ui-sref="root.profile()">
        user
      </md-button>
    </div>
  </div>
</md-toolbar>
