// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
.u-clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Pull Left
//
// Make the element float left
.u-pull-left {
  float: left;
}

// Pull Right
//
// Make the element float right
.u-pull-right {
  float: right;
}


// Text Left
//
// Make the element text-align left
.u-text-left {
  text-align: left;
}

// Text Right
//
// Make the element text-align right
.u-text-right {
  text-align: right;
}

// Text center
//
// Make the element text-align center
.u-text-center {
  text-align: center;
}
