
// Gray color scheme from http://www.google.com/design/spec/style/color.html
$color-gray-50: #fafafa;
$color-gray-100: #f5f5f5;
$color-gray-200: #eeeeee;
$color-gray-300: #e0e0e0;
$color-gray-400: #bdbdbd;
$color-gray-500: #9e9e9e;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$color-dark: #37474f;
// $color-dark: #484c58;

// $color-primary: #27ae60;
// $color-primary: #55b161;
$color-primary: #67b972;

// Status colors
$color-invalid: #e74c3c;
$color-untranslated: $color-gray-300;
$color-translated: lighten(#67b972, 20);
$color-approved: #67b972;
