.l-project-main-column {
  background-color: $color-gray-100;
  height: 100%;
}

.l-project-resources {
  padding: 15px;
  max-height: 100%;

  &__title {
    margin: 0;
  }

  .resources-list {
    border: 1px solid $color-gray-200;
    border-bottom: 0;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba($color-gray-300, 0.8);

    &__item {
      @include font-size(14);
      color: #444;
      display: block;
      padding: 0 20px;
      background: #fff;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid $color-gray-200;

      // &:first-of-type {
      //   border-top-left-radius: 2px;
      //   border-top-right-radius: 2px;
      // }
      // &:last-of-type {
      //   border-bottom-left-radius: 2px;
      //   border-bottom-right-radius: 2px;
      // }

      &:hover {
        background-color: $color-gray-50;
      }
    }
  }
}
