.l-project-languages {
  background-color: $color-gray-100;
  height: 100%;
  max-height: 100%;

  &__title {
    @include font-size(16);
    text-align: center;
    line-height: 1.1em;
    padding: 5px;
  }

  .language {
    margin: 3px 10px 0px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &__title {
      position: relative;
      padding: 12px 0 2px;
      z-index: 10;
      background: red;
      background: transparent;
    }

    &__behind {
      opacity: 0;
      z-index: 1;
      position: absolute;
      height: 70px;
      top: 0;
      bottom: 0;
      background: rgba($color-gray-200, 0.85);
      width: 300px;
      visibility: hidden;
      padding-top: 10px;
      padding-left: 90px;

      border-radius: 2px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);

      transform: translateX(-10px);
      transition: all 180ms ease-out;
    }


    &:hover .language__behind {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    &__flag {
      display: block;
      margin: auto;
      width: 60px;
      height: 40px;
      background: $color-gray-300;
      margin-bottom: 3px;
      transition: all 180ms ease-out;
    }

    &:hover .language__flag {
      transform: translateY(3px);
    }

    &__id {
      @include font-size(12);
      color: #555;
      display: block;
      text-align: center;
      transition: all 180ms ease-out;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover .language__id {
      transform: translateY(5px);
      opacity: 0;
    }

    &__display-name {
      @include font-size(18);
    }

    &__locale {
      @include font-size(12);
      color: $color-gray-500;
    }
  }

}
