.l-project-details {
  // background-color: $color-gray-200;
  padding: 15px 20px;
  height: 100%;
  max-height: 100%;

  &__header {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  &__title {
    // font-weight: 300;
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    color: #555;
    margin-top: 0;
    padding: 0;
  }

  &__description {
    font-weight: 300;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-gray-300;
  }
}
