.l-translate-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(#fff, 0.5);

  &__title {
    position: absolute;
    @include font-size(36);
    font-weight: 300;
    top: 65px;
    right: 210px;

  }

  &__arrow {
    background: transparent url("/images/select-lang-arrow.png") top left no-repeat;
    height: 120px;
    width: 140px;
    display: block;
    position: absolute;
    top: 10px;
    right: 60px;
  }
}
