.l-translate-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 99;
  margin: 0;
  padding: 0;
  // background-color: $color-gray-200;
  background-color: darken($color-primary, 2);
  height: 60px;
  overflow: hidden;
  // border-bottom: 1px solid $color-gray-300;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

  &__title {
    font-weight: 400;
    line-height: 55px;
    margin: 0;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > a {
      // color: #444;
      color: #fff;
    }
  }

  &__stats {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
  }

  &__counter {
    @include font-size(24);
    line-height: 24px;
    display: block;
  }

  &__counter-label {
    @include font-size(10);
    text-transform: uppercase;
    display: block;
  }

  &__search-form {
    margin: 12px 0;
    padding-right: 20px;
    line-height: 55px;
  }
  &__search-input {
    border: 0;
    color: #fff;
    height: 37px;
    padding-left: 15px;
    background-color: lighten($color-primary, 8);

    &::-webkit-input-placeholder {
       color: #fff;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: #fff;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;
    }
    &:-ms-input-placeholder {
       color: #fff;
    }

    &:active,
    &:focus {
      border: 0;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: lighten($color-primary, 10);
    }
  }

  &__locale-form {
    line-height: 55px;
    padding: 0 10px;
  }

  &__icon {
    line-height: 55px;
    padding: 0 3px;
  }
}
