.l-translate-translations {
  height: 100%;
  background: $color-gray-200;
  border-right: 1px solid darken($color-gray-100, 5);
  position: relative;

  .translations {
    &__resource {
      @include font-size(16);
      font-weight: 400;
      margin: 0;
      padding: 5px 10px;
      background-color: rgba($color-gray-300, 0.8);
      // background-color: rgba(224, 224, 224, 0.8);
      border-bottom: 1px solid darken($color-gray-300, 2);
      // border-right: 6px solid $color-gray-400;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
      top: 0;
    }

    &__resource-icon {
      padding-right: 2px;
    }

    &__list {
      margin: 0;
    }

    &__item {
      margin: 0;
      padding: 10px 10px;
      border-bottom: 1px solid darken($color-gray-200, 5);
    }
  }

  .translation {
    border-right: 6px solid $color-untranslated;

    &:hover {
      cursor: pointer;
      background-color: $color-gray-100;
    }

    &--active {
      background-color: $color-gray-50;
    }

    &--translated {
      border-right-color: $color-translated;
    }

    &--approved {
      border-right-color: $color-approved;
    }

    &__key {
      padding: 0;
      margin: 0;

      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
      overflow: hidden;
    }

    &__icon {
      display: inline-block;
      width: 15px;
      font-size: 0.9em;
      color: $color-invalid;
    }

    &--active .translation__key {
      color: #428bca;
    }

    &--translated .translation__icon,
    &--approved .translation__icon {
      color: $color-approved;
    }

    &__source {
      color: $color-gray-500;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      padding-left: 18px;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &--non-approved {
        text-decoration: line-through;
      }

      &--undefined {
        color: $color-invalid;
        font-style: italic;
      }
    }
  }
}
