// Clearfix
.u-clearfix {
  @include clearfix();
}

// Pull Left
//
// Make the element float left
.u-pull-left {
  float: left;
}

// Pull Right
//
// Make the element float right
.u-pull-right {
  float: right;
}


// Text Left
//
// Make the element text-align left
.u-text-left {
  text-align: left;
}

// Text Right
//
// Make the element text-align right
.u-text-right {
  text-align: right;
}

// Text center
//
// Make the element text-align center
.u-text-center {
  text-align: center;
}

// Text color
.u-text-primary {
  color: $color-primary;
}
.u-text-blue {
  color: #3498db;
}
