<div class="l-project-details column column--size-3 column--scrollable">
  <div class="l-project-details__header">
    <h1 class="l-project-details__title title title--level-1">
      {{ project.name }}
    </h1>

    <p class="l-project-details__subtitle">
      {{ project.slug }}
    </p>
  </div>

  <p class="l-project-details__description">
    {{ project.description }}
  </p>

  <p>
    <a ui-sref="translate.source({slug: project.slug, source: project.default_locale})" class="button button--type-raised button--color-primary button--size-wide">
      Translate
    </a>
  </p>
</div>

<div class="l-project-main-column column column--size-7 column--scrollable">
  <div class="l-project-languages column column--size-2">
    <div class="column__inner">
      <!-- <h3 class="l-project-languages__title title title--level-3">
        {{ languages.length }}
        <br>
        languages
      </h3> -->

      <div class="language" ng-repeat="language in languages">
        <a ui-sref="translate.source.target({slug: project.slug, source: project.default_locale, target: language.locale})">
          <div class="language__behind">
            <div class="language__display-name">
              {{ language.name }}
            </div>
            <div class="language__locale">
              {{ language.locale }}
            </div>
          </div>

          <div class="language__title">
            <span class="language__flag flag-icon flag-icon-{{ language.locale|region|lowercase }}">
            </span>
            <span class="language__id">{{ language.name }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="l-project-resources column column--size-10">
    <h2 class="l-project-resources__title title title--level-5 title--uppercase">
      Resources
    </h2>

    <ul class="resources-list list--unstyled">
      <li ng-repeat="resource in resources">
        <a href="" class="resources-list__item">
          {{ resource.pathname }}
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="l-project-stats column column--size-2 column--scrollable">
</div>
